__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
.eggs/
.venv/
venv/
.env/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.DS_Store
build/
dist/
.coverage
htmlcov/
/.ruff_cache
/.pytest_cache
/.mypy_cache
# Data artifacts
!data/input/.gitkeep
!data/output/.gitkeep
!data/synthetic/.gitkeep
data/input/*
data/output/*
data/synthetic/*
!notebooks/*.ipynb
